# Скрываем конфиги и базы данных
config.py
.env
users.txt
reports.txt
news.txt
*.log  # Логи
__pycache__/

# Виртуальное окружение
venv/
env/
ENV/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы деплоя
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/